/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #003366;
    padding: 1rem 0;
    color: white;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-image: url('travel.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: brown;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #ff9900;
}

.hero .btn {
    background-color: #ff9900;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#destinations {
    padding: 50px 20px;
    text-align: center;
}

.destination-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.destination img {
    width: 100%;
    border-radius: 10px;
}

.destination h3 {
    margin: 15px 0 5px 0;
}

#about,
#services,
#contact {
    padding: 50px 20px;
    text-align: center;
    background-color: antiquewhite;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#contact form label {
    margin: 10px 0 5px 0;
}

#contact form input,
#contact form textarea {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact form button {
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}
